@page "/"
@using MudBlazor;
@inject IDialogService DialogService

<PageTitle>Homepage | Meerchat</PageTitle>

<h1>Hello, world!</h1>

@* Can add text-transform:none to make the text lowercase*@
<MudButton Variant="Variant.Filled" Color="Color.Primary" Style="text-transform:none">
    Open Simple Dialog
</MudButton>

<MudRating SelectedValue="2" />

@code {

}