@inherits LayoutComponentBase
@using MeerchatBlazorUI.Shared;
@using MudBlazor;

<PageTitle>Meerchat</PageTitle>

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="MyCustomTheme" />
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page">
    @if (showSidebar == true)
    {
        <div class="sidebar-container">
            <NavMenu/>
        </div>
    }

    <main>
        <div class="top-row">
            <MudButton Variant="Variant.Text" OnClick="ShowSideBar">
                <MudIcon Icon="@Icons.Material.Filled.Menu" />
            </MudButton>
            <DarkModeSwitch OnChange="UpdateDarkMode" />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool showSidebar = true;

    private bool _isDarkMode { get; set; } = true;

    MudTheme MyCustomTheme = new MudTheme()
    {
        // Light mode colors
        Palette = new PaletteLight()
        {
            Primary = "#001844",
            Secondary = "#95a5bf",
            AppbarBackground = Colors.Red.Default,
        },

        // Dark mode colors
        PaletteDark = new PaletteDark()
        {
            Primary = "#95a5bf",
            Secondary = "001844"
        },
        
        LayoutProperties = new LayoutProperties()
        {
            DrawerWidthLeft = "260px",
            DrawerWidthRight = "300px"
        } 
    };

    private void UpdateDarkMode(string state)
    {
        
    }

    public void ShowSideBar()
    {
        showSidebar = !showSidebar;
    }
}