@inherits LayoutComponentBase

<PageTitle>Meerchat</PageTitle>


<div class="page">
    @* if the show sidebar bool is true, then show the element*@
    @if (showSidebar == true)
    {
        <div class="sidebar-container">
            <NavMenu />
        </div>
    }

    <main>
        <div class="top-row">
            @* MENU BUTTON *@


        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    // show sidebar bool
    private bool showSidebar = true;

    public bool _isDarkMode;

    protected override async Task OnInitializedAsync()
    {

    }

    // this is the method used to switch the darkmode bool
    public async Task OnDarkModeSwitchClicked()
    {

    }

    // this is the bool that shows the sidebar
    public void ShowSideBar()
    {
        showSidebar = !showSidebar;
    }
}