@page "/"
@using MudBlazor;
@inject IDialogService DialogService

<PageTitle>Homepage | Meerchat</PageTitle>

<h1>This is Index.razor</h1>

@* Can add text-transform:none to make the text lowercase*@
<MudButton Variant="Variant.Filled" Color="Color.Primary" Style="text-transform:none">
    Cool Button! (Stars ->)
</MudButton>

<MudRating SelectedValue="5" />

@code {

}